#root {
  width: 100dvw;
  margin: 0 0.1em;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%;
  padding-top: 100px;
}

/*Header Style*/

.header {
  padding: 1rem 2rem; 
  box-sizing: border-box;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373735;
  background: linear-gradient(#787171 0%, #131824 100%);
}

.logo {
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
  max-width: 500px;
  width:100%;
}

/*Sidebar Style*/

.menu-item {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.menu-item:hover {
  cursor:pointer;
  background-color: #373735;
}

/*Body Style*/

.body {
  border: 2px solid rgb(72, 79, 83);
  border-radius: 20px;
  background-color: grey;
  width: 100%;
  height: 100%;
  padding: 3rem;

  font-size: 1.2rem;
}

.drivers-table {

  display:flex;
  justify-content: center;
  align-items: center;
}

.body input {
  width: 50%;
  height: 2rem;
  margin: 2rem auto;
  border-radius: 20px;
}

.body table {
  width: 100%;
  border: 2px solid rgb(72, 79, 83);
}

.driver {
  padding: 0rem 2rem;
  margin: auto;
  width: 90%;
}

.driver-even {
  background-color: #9ba9a9;
}

.driver-odd {
  background-color: #696b6b;
}

.driver table {
  column-span: 7;
}

.driver td {
  padding: 15px;
}

.driverName {
  width:auto;
}

.driverDuration {
  width: 200px;
}


.activityDays th {
  min-width: 100px;
}

.dayBox {
  width: 100px;
  height: 75px;
  border: 1px solid black;
}

.active {
  background-color: #12d42f;
}

.inactive {
  background-color: #413e3e;
}